:root {
  --font-primary: "Rethink Sans", system-ui, sans-serif;
  --font-secondary: "Hedvig Letters Serif", serif;
  --black: #000000;
  --gray: #575757;
  --accent-1: #f45f00;
  --border: 1px solid rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  color: #000;
  overflow: hidden;
}
/* Reuse */
.border-1 {
  border: 1px solid;
}
.hidden {
  display: none;
}
.p-32 {
  padding-right: 32px;
  padding-left: 32px;
}
.b-none {
  border: none;
}
.text-gray {
  color: var(--gray);
}
.span-orange {
  color: var(--accent-1);
}
/* Typography */
.regular {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
.regular-50 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
}
.regular-32 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.regular-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.secondary-regular {
  font-family: var(--font-secondary);
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
.secondary-regular-14 {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}
.display {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.heading-1 {
  font-family: var(--font-primary);
  font-size: 60px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.01em;
}
.heading-2 {
  font-family: var(--font-primary);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.heading-3 {
  font-family: var(--font-primary);
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.paragraph-1 {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.paragraph-2-bold {
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 700;
}

.caption-1 {
  font-family: var(--font-primary);
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.caption-2 {
  font-family: var(--font-primary);
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.link {
  font-family: var(--font-primary);
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media (max-width: 1279px) {
  .heading-1 {
    font-size: 45px;
  }
  .heading-2 {
    font-size: 26px;
  }
  .paragraph-1 {
    font-size: 16px;
    letter-spacing: 0;
  }
  .caption-1 {
    font-size: 24px;
  }
}
@media (max-width: 799px) {
  .heading-1 {
    font-size: 30px;
  }
  .heading-2 {
    font-size: 24px;
  }
  .caption-1 {
    font-size: 16px;
  }
  .regular {
    font-size: 41px;
  }
  .secondary-regular {
    font-size: 41px;
  }
}

/* base: Main website  */
.rd {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}
.rd__sidebar {
  display: grid;
  grid-template-areas:
    "brand"
    "nav"
    "actions";
  align-content: start;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  z-index: 100;
  overflow-y: auto;
}
.rd__brand {
  grid-area: brand;
  padding: 30px 0px 30px 32px;
}
.rd__brand-logo {
  width: 51.01px;
  height: 11.83px;
}
.rd__menu-toogle {
  display: none;
}
.rd__menu-toogle-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.rd__nav {
  grid-area: nav;
  border-top: var(--border);
  border-bottom: var(--border);
}
.rd__nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 0px 30px 32px;
}

.rd__nav-link {
  color: #000;
}
.rd__nav-link sup {
  color: var(--gray);
}

.rd__actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  padding: 24px 0 0 32px;
}

.rd__action-link {
  color: var(--gray);
  text-transform: capitalize;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 700;
}

.rd__content {
  grid-column: 2;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
.rd__hero {
  width: 100%;
  height: auto;
}
.rd__hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* common class */
.rd__intro,
.rd__content-table,
.rd__brand-strategy,
.rd__personality {
  padding-top: 32px;
  padding-bottom: 120px;
  display: flex;
  gap: 32px;
  border-bottom: var(--border);
}

.rd__intro-heading,
.rd__intro-content,
.rd__content-heading,
.rd__content-info,
.rd__brand-strategy-heading,
.rd__brand-strategy-info,
.rd__personality-heading,
.rd__personality-info,
.rd__tone-heading,
.rd__tone-info {
  flex: 1;
}

.rd__intro-content,
.rd__brand-strategy-content,
.rd__personality-content {
  text-align: start;
  color: var(--gray);
}

/* --------Contents----------------- */

.rd__content-info {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rd__content-num {
  color: var(--gray);
}

/* --------Brand Strategy----------------- */

.rd__brand-strategy-info {
  margin-left: 32px;
}

/* --------Personality----------------- */

.rd__personality-content {
  margin-left: 32px;
}

.rd__brand-strategy-info img {
  margin: 32px 0;
}

/* --------Personality Image----------------- */
.rd__personality-img {
  width: 100%;
}
.rd__personality-img img {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  display: block;
}

/* --------Tone and voice----------------- */

.rd__tone {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
  gap: 32px;
  border-bottom: var(--border);
}

.rd__tone-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* --------sample copy----------------- */
.rd__sample-copy {
  padding-top: 30px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  border-bottom: var(--border);
}

.rd__sample-copy-info {
  display: flex;
  padding: 32px 0;
  gap: 32px;
}
.rd__sample-copy-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* --------03 Logo----------------- */
.rd__logo,
.rd__color,
.rd__typo {
  padding-top: 32px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: var(--border);
}
.rd__logo-intro,
.rd__color-intro,
.rd__typo-intro {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.rd__logo-intro h1,
.rd__logo-intro p,
.rd__color-intro h1,
.rd__color-intro p,
.rd__typo-intro h1,
.rd__typo-heading {
  flex: 1;
}

.rd__logo-images,
.rd__color-contents {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 40px;
}
.rd__logo-image-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: flex-start; */
}
.rd__logo-image-content img {
  width: 100%;
  height: auto;
  display: block;
}
.logo__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 16px;
}
.logo__grid-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.logo__grid-content picture {
  width: 100%;
  display: block;
}
.logo__grid-content picture img {
  width: 100%;
}
.logo__grid-content-heading img {
  width: 16px;
  height: 16px;
}
.logo__grid-content-heading {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}
/* --------04 Color----------------- */

.rd__color-primary-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.color__grid {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.color__grid-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  gap: 10px;
}
.color__grid-content picture {
  width: 100%;
  height: auto;
}
.color__grid-content picture img {
  width: 100%;
  height: auto;
}

.rd__color-secondary-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.color__grid--secondary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 16px;
}
.color__grid-content--secondary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.color__grid-content-caption {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rd__color-gradient-content {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.color__grid--grident {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 32px;
}
/* --------05 Typography----------------- */

.rd__typo-content {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.rd__typeface {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.rd__typeface--primary {
  display: flex;
  flex-direction: column;
  gap: 20;
  text-align: start;
}
.rd__typo-content--sizing {
  display: flex;
  flex-direction: column;
}
.rd__typo--sizing {
  border-top: var(--border);
  display: flex;
  gap: 64px;
  padding: 32px 0 40px 0;
}
.rd__typo--sizing h3,
.rd__typo--sizing p {
  flex: 1;
}
.rd__typo--variations {
  display: flex;
  flex-direction: column;
}
.rd__typo--variation {
  padding: 30px 32px 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rd__typo--variation h2 {
  width: 100%;
  max-width: 654px;
}
.rd__typo--variation h3 {
  width: 100%;
  max-width: 505px;
}
.rd__typo--variation h4 {
  width: 100%;
  max-width: 517px;
}
.rd__typo--variation-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  padding-bottom: 4px;
}

/* -----------06 Art Diretion------------- */
.rd__art {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.rd__art-intro {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.rd__art-intro h1,
.rd__art-intro p {
  flex: 1;
}

.art__grid--grident {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

/* --------Footer-------- */
.footer {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding-top: 128px;
  padding-bottom: 32px;
}
.footer-info-1 {
  display: flex;
  gap: 59px;
  justify-content: flex-start;
  align-items: end;
  padding-left: 40px;
}
.footer-nav {
  display: flex;
  gap: 51px;
}
.footer-nav li {
}
.footer-nav li a {
  color: inherit;
}
.footer-info-2 {
  border-top: var(--border);
  padding: 40px 40px 20px 40px;
}
.footer-link {
  display: flex;
  gap: 16px;
}
.footer-link li a {
  color: inherit;
}
.footer-link li:last-child {
  margin-left: auto;
}

/* --------Responsive tablet----------------- */
@media (max-width: 1279px) {
  .rd {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .rd__sidebar {
    position: static;
    width: auto;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "brand actions"
      "nav  nav";
    padding: 0 32px;
  }
  .rd__brand {
    padding: 14px 0 18px 0;
  }
  .rd__nav-list {
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 0;
  }
  .rd__actions {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    padding: 0;
  }
  .rd__action-link {
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-weight: 400;
  }
  .rd__content {
    grid-column: auto;
    height: auto;
    overflow-y: auto;
  }
  /* common */
  .rd__intro,
  .rd__content-table {
    padding-bottom: 80px;
  }

  /* --------03 Logo----------------- */
  .rd__logo {
    padding-top: 88px;
    padding-bottom: 80px;
    gap: 0;
  }

  /* ---04 color */

  /* --------04 Color----------------- */
  /* --------05 Typograph----------------- */
  .rd__typo-content--sizing {
    flex-direction: column-reverse;
  }
  .rd__typo--variations {
    flex-direction: column-reverse;
  }

  /* ----------06 Footer------- */
  .footer-info-1 {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 779px) {
  .p-32 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .rd__menu-toogle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }
  .rd__nav,
  .rd__action {
    display: none;
  }
  .rd__nav.isOpen .rd__nav,
  .rd__nav.isOpen .rd__action {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  /* brand guideline */
  .rd__intro,
  .rd__content-table,
  .rd__brand-strategy,
  .rd__personality {
    flex-direction: column;
  }
  .rd__intro-heading h1 br,
  .rd__brand-strategy-heading h1 br {
    display: none;
  }
  /* Content table  */
  .rd__content-info,
  .rd__brand-strategy-info,
  .rd__personality-content {
    margin-left: 0;
  }
  /* tone */
  .rd__tone {
    flex-direction: column;
  }
  /* sample copy */
  .rd__sample-copy-info {
    flex-direction: column;
  }

  /* --------03 Logo----------------- */
  .rd__logo {
    gap: 30px;
  }
  .rd__logo-intro {
    flex-direction: column;
    gap: 12px;
  }

  .logo__grid {
    grid-template-columns: 1fr;
  }

  /* --------04 Color----------------- */

  .rd__color-intro {
    flex-direction: column;
  }

  /* .rd__color {
  }
  .rd__color-intro {
  } */
  .rd__color-primary-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .color__grid {
    flex-direction: column;
    gap: 40px;
  }
  .color__grid-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    gap: 10px;
  }
  .color__grid-content picture {
    width: 100%;
    height: auto;
  }
  .color__grid-content picture img {
    width: 100%;
    height: auto;
  }

  .rd__color-secondary-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .color__grid--secondary {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .color__grid-content-caption {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .color__grid--grident {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  /* -------------05 Typography------------------ */
  .rd__typo-intro {
    flex-direction: column;
    gap: 12px;
  }
  .rd__typo-heading {
    padding-bottom: 60px;
  }
  .rd__typo-content--sizing {
    flex-direction: column;
  }
  .rd__typo--sizing {
    flex-direction: column;
  }
  /* ------------06 Art--------- */
  .rd__art-intro {
    flex-direction: column;
  }
  .art__grid--grident {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  /* ---------Footer------- */
  .footer-nav {
    flex-direction: column;
    gap: 19px;
  }
}
